body {
 background-color: #F0F0F0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 70%;
    margin-left: 20%
  }

}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Side bar */
.nav-side-menu {
  overflow: auto;
  font-size: 17px;
  font-weight: 100;
  background-color: #fff;
  position: fixed;
  top: 0px;
  width: 17%;
  height: 100%;
  color: #777;
  margin-top: 3.9%;
}
.nav-side-menu .brand {
  background-color: #fff;
  line-height: 100px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 40px;
  cursor: pointer;
  border-bottom: 1px solid #337ab7;
}
.nav-side-menu li a {
  text-decoration: none;
  padding: 7%;
  color: #337ab7;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu li:hover {
  background-color: #337ab7;
}
.nav-side-menu li:hover a {
  color: #fff;
}
.nav-side-menu li.active {
  background-color: #337ab7;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.nav-side-menu li.active a {
  color: #fff;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
.icons {
   font-size: 16px;
}
.sales {
  margin-left: 10%
}

/* Navigation bar*/
.navbar {
  background-color: #337ab7;
}

.navbar-nav li a, .navbar-header a {
  color: white;
  cursor: pointer;
}

.dropdown-menu li a {
  color: #337ab7;
}

.navbar-nav li.active a {
  font-weight: bold;
  border-top: 2px solid white;
}

.navbar-nav li a:hover {
  background-color: #337ab7;
  border-top: 2px solid white;
}

/*Login page*/

#logbox {
  padding: 30px;
  margin: 75px auto;
  width: 50%;
  margin-top: 10%;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.suppliers, .customers, .users, .products {
  margin-top: 10%;
}

table {
  background-color: white;
  margin-top: 5%;
}

tr {
  font-size: 16px;
  cursor: pointer;
}
.search {
    padding: 10px 20px;
    border-radius: 0;
}
.btn {
  padding: 10px 20px;
  border-radius: 0;
}
.table-btn {
  padding: 5px 10px;
  border-radius: 0;
}
.box {
  margin: 50px auto;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
#profilePic {
  width: 70%;
  height: 70%;
  margin-bottom: 5%;
  margin-left:15%
}

/*Sales page*/

#saleSearch {
  padding-top: 5%;
}

#salesHeader {
  margin-left: 2%;
}

.salesProduct {
  margin-top: 10%;
  

}

.addProduct {
  width: 20%;
  height: 2.5em;
  text-align: right;
  border-radius: 5%;

}

.btnSale {
  padding:5px 10px;
  margin-left:15%;
  border: 1px solid #B8B8B8 ;
}

.totalPrice {
  margin-left: 25%;
}