<div class="text-center"><h3 style="font-family:courier;font-style:400%; color:#1aa3ff; ">Inventory Management</h3></div>
<div class="col-sm-4 col-sm-push-3" id="logbox">
  <form name="loginForm" novalidate>
    <div class="form-group">
      <label for="username">Username</label>
      <input ng-model="username" type="text" id="username" name="username" class="form-control" placeholder="Enter username" autofocus="true" autocomplete="off" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input ng-model="password" type="password" id="password" name="password" class="form-control" placeholder="Enter password" required>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" ng-click="login()">Log In</button>
    </div>
  </form>
</div>