<div style="margin-top: 7%">
	<ol class="breadcrumb" style="font-size: 20px">
	    <li><h2><a ui-sref="users">Users</a></h2></li>
	    <li class="active">New user</li>
	</ol>

	<div class="container-fluid box" style="padding: 5%">
		<form class="col-md-12" name="userForm" novalidate>
		<div class="col-md-4 col-md-offset-1">
			<div>
				<img src="images/profilepic.png" id="profilePic">
			</div>
			<div class="form-group col-md-12">
				<label for="username">Username :</label>
				<input type="text" class="form-control" name="username" ng-model="user.username">
			</div>
		</div>
		<div class="col-md-5">
			<div class="form-group col-md-12">
				<label for="firstName">First name :</label>
				<input type="text" class="form-control" name="firstName" ng-model="user.firstName">
			</div>
			<div class="form-group col-md-12">
				<label for="lastName">Last name :</label>
				<input type="text" class="form-control" name="lastName" ng-model="user.lastName">
			</div>
			<!---<div class="form-group col-md-12">
				<label for="password">Password :</label>
				<input type="password" class="form-control" name="password" ng-model="user.password">
			</div> -->
			<div class="form-group col-md-12">
			    <label for="role">Role :</label>
				<select ng-model="user.role" class="form-control">
				   <option>Sales Agent</option>
				</select>
			</div>
			<div class="form-group col-md-12">
				<label for="telephone">Phone number :</label>
				<input type="telephone" class="form-control" name="telephone" ng-model="user.telephone">
			</div>
		</div>
		<div>
			<span class="">
				<button type="submit" class="btn btn-danger" style="margin-left: 30%">Cancel</button>
				<button type="submit" class="btn btn-primary" style="margin-left: 5%" ng-bind="action">
					<i class="fa fa-paper-plane" aria-hidden="true"></i>
				</button>
			</span>
		</div>
		</form>
	</div>
</div>