 <nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Inventory Management</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a ui-sref="user">Users</a></li>
      <li><a ui-sref="inventory">Inventory</a></li>
      <li><a ui-sref="sales">Sales</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a ui-sref="profile"><i class="fa fa-user icons" aria-hidden="true"></i> Profile</a></li>
      <li><a ui-sref="logout"><i class="fa fa-sign-out icons" aria-hidden="true"></i> Logout</a></li>
    </ul>
  </div>
</nav>