<div class="">
	<div id="salesHeader"><i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i>Sales</div>
	<div class="container-fluid  salesProduct">
	    <div id="saleSearch">
		  <form name="searchForm" >
		    <div class="form-group col-sm-7 col-sm-offset-2">
		      <div class="input-group col-md-12">
		        <input type="text" class="form-control input-lg" placeholder="Search for user by username" 
		        	ng-model="search" />
		        <span class="input-group-btn">
		          <p class="btn btn-info btn-lg search">
		            <i class="fa fa-search"></i>
		          </p>
		        </span>
		      </div>
		    </div>
		  </form>
		  <span class="">
		       <button class="btn btn-info btn-lg addProduct">
		            <p>Add product <i class="fa fa-plus"></i></p>
		        </button>
		   </span>
		</div>
        <div class="table-responsive col-md-12">
        	<table id="mytable" class="table table-bordred table-striped">
            	<thead> 
                   <th>Product Id</th>
                   <th>Product</th>
                   <th>Quantity</th>
                   <th>Unit Price</th>
                   <th>Total</th>
                    <th></th>
                    <th></th>
                </thead>
                 <tbody>  
                 	<tr>
					    <td>Mohsin</td>
					    <td>Irshad</td>
					    <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
					    <td><input style = "width: 60%;" type="text" ng-keypress="character"></td>
					    <td>+923335586757</td>
					    <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs btnSale" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="fa fa-pencil"></span></button></p></td>
					    <td><p data-placement="top" data-toggle="tooltip" title="Cancel"><button class="btn btn-danger btn-xs btnSale" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="fa fa-times "></span></button></p></td>
				    </tr>
                 </tbody>
            </table>
        </div>
	</div>
</div>


<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
      </div>
          <div class="modal-body">
          <div class="form-group">
        <input class="form-control " type="text" placeholder="Mohsin">
        </div>
        <div class="form-group">
        
        <input class="form-control " type="text" placeholder="Irshad">
        </div>
        <div class="form-group">
        <textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>
    
        
        </div>
      </div>
          <div class="modal-footer ">
        <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div>
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
      </div>
          <div class="modal-body">
       
       <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
       
      </div>
        <div class="modal-footer ">
        <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div>
	</body>
</html>