<div class="contianer users">
	<h2>
	<span>Users</span>
	<a style="float: right" class="btn btn-primary btn-lg" ui-sref="manageUser">Create</a>
	</h2>
	<!--<div class="row">
      <div class="col-lg-offset-10 col-lg-4">
        <a class="btn btn-primary">Create</a>
      </div>
  	</div>-->
	<!-- Search bar -->
	<div>
	  <form name="searchForm" >
	    <div class="form-group col-sm-7 col-sm-offset-2">
	      <div class="input-group col-md-12">
	        <input type="text" class="form-control input-lg" placeholder="Search for user by username" 
	        	ng-model="search" />
	        <span class="input-group-btn">
	          <button class="btn btn-info btn-lg" type="submit">
	            <i class="glyphicon glyphicon-search"></i>
	          </button>
	        </span>
	      </div>
	    </div>
	  </form>
	</div>

	<!-- Table of users -->
	<div class="table-responsive col-md-12 box">
	<table class="table table-hover">
	    <thead>
	      <tr>
	      	<th>No</th>
	        <th>Name</th>
	        <th>Username</th>
	        <th>Email</th>
	        <th>Phone number</th>
	        <th>Role</th>
	      </tr>
	    </thead>
	    <tbody>
	      <a ui-sref="users">
	      <tr ng-repeat="user in users" ng-click="editUser(user.id)">
	        <td>{{$index + 1}}</td>
	        <td ng-bind="(user.firstName) + ' ' + (user.lastName)"></td>
	        <td ng-bind="user.username"></td>
	        <td ng-bind="user.email"></td>
	        <td ng-bind="user.telephone"></td>
	        <td ng-bind="user.role"></td>
	        <td>
	        	<button type="submit" ng-class="enableUser(user.enable)" class="btn">Cancel</button>
	        </td>
	      </tr>
	      </a>
	      <tr>
	        <td>3</td>
	        <td>Ndoh Joy</td>
	        <td>Joy</td>
	        <td>oscarjay@gmail.com</td>
	        <td>(+237) 679 432 914</td>
	        <td>Sales agent</td>
	        <td>
	        	<button type="submit" class="btn btn-danger">Cancel</button>
	        </td>
	      </tr>
	      <tr>
	        <td>4</td>
	        <td>Loni Tande</td>
	        <td>Miriam</td>
	        <td>loniebenye@gmail.com</td>
	        <td>(+237) 682 700 074</td>
	        <td>Sales agent</td>
	        <td>
	        	<button type="submit" class="btn btn-danger">Cancel</button>
	        </td>
	      </tr>
	    </tbody>
  	</table>
  	</div>

</div>